@page
@using Cardealer.Models
@model CarDealerWeb.Pages.Shared.Buttons.Delete_CarModel

<div class="OuterBox">
    <div>
        <form method="post">
            <h2 style="border-bottom-style: solid">Car removal hacker tool</h2>
            <div class="BoxNoget">
                @foreach (var car in Model.Cars)
                {
                    <div class="Noget">
                        <div class="BilBox">
                            @car.CarID. @car.Brand @car.Model @(car.Price)DKK
                        </div>
                        <div>
                            <input type="checkbox" name="SelectedCarIDs" value="@car.CarID" />
                        </div>
                    </div>
                }
            </div>
            <button type="submit">Remove</button>
        </form>
    </div>
</div>

<style>
    .OuterBox {
        display: flex;
        min-height: 800px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

        .OuterBox > div form {
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 700px;
            width: 100%;
        }

        .OuterBox button {
            display: flex;
            border-radius: 3px;
            width: 72px;
            align-items: flex-end;
        }

        .OuterBox div form {
            display: flex;
            padding: 5px;
            border: 1px solid black;
            border-radius: 3px;
            background-color: ghostwhite;
            flex-direction: column;
            align-content: start;
            height: 600px;
            width: 410px;
        }

            .OuterBox div form .BoxNoget .BilBox {
                display: flex;
                font-size: 20px;
                flex-direction: row;
                margin: 1px;
                border-radius: 3px;
            }

    .BoxNoget {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        overflow-y: auto;
    }

    .Noget {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 5px;
        border-bottom-style: dotted;
    }
</style>
