@page
@model CarDealerWeb.Pages.Update_carModel
@{
}

<div class="OuterBox">
    <div class="TableBox">
        @*<form method="post">
        <label>Fill out the form</label>
        <input asp-for="@Model.Cars.CarID" placeholder="CarID:" />
        <input asp-for="@Model.Cars.Brand" placeholder="Brand:" />
        <input asp-for="@Model.Cars.Model" placeholder="Model:" />
        <input asp-for="@Model.Cars.Price" placeholder="Price:" />
        <button type="submit">
        Confirm
        </button>
        </form>*@
        @*<form>
            <div class="BoxNoget">
                <div class="Guide">
                    CarID         Brand     Model       Price
                </div>
                @foreach (var car in Model.Cars)
                {
                    <div class="Noget">
                        <div class="UListOfCars">
                            @car.CarID. @car.Brand @car.Model @(car.Price)DKK
                        </div>
                    </div>
                }
            </div>
        </form>*@




        <table>
            <thead>
                <tr>
                    <th style="width:40px">ID</th>
                    <th colspan="2" style="width:140px">Car</th>
                    <th style="width:120px">Price</th>
                    <th style="width: 34px;">Edit</th>
                </tr>
            </thead>
        </table>
            <div class="BodyBox">
                <table>
                    <tbody>
                    @foreach (var car in Model.Cars)
                    {
                        <tr>
                            <td style="width:40px"> @car.CarID</td>
                            <td colspan="2" style="width:140px">@car.Brand @car.Model</td>
                            <td style="width:120px">@car.Price DKK</td>
                            <td style="width: 34px;"><button type="button">Edit</button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        
    </div>
</div>

<style>
    .OuterBox {
        display: flex;
        justify-content: center;
        height: 600px;
        width: 1296px;
        align-items:center;
    }

        .TableBox{
        display:flex;
        flex-direction:column;
        align-items: flex-start;
    }

            table, th, td{
                zoom:120%;
                border: 1px solid black;
                border-collapse:collapse;
                text-align:center;
                width: 500px;
            }

                thead {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
                    .BodyBox{
                        max-height:500px;
                        overflow-y:auto;
                        display:block;
                        width:100%;
                    }
                        tbody{
                            display:table;
                            width:100%;
                            table-layout:fixed;
                        }

</style>